@import "tailwindcss";
body {
  background-color: #333333;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
}
.jetbrain {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
